<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:site_name" content="Social Distance Monitoring">
        <meta property="og:title" content="Social Distance Monitoring" />
        <meta property="og:description" content="Social Distance Monitoring" />
        <meta property="og:image" itemprop="image" content="social_distance.jfif">
        <meta property="og:type" content="website" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/Monitor">Monitor</a>
        <a href="/Technology">Technology</a>
        <a href="/Future">Future</a>

        <h1 style="text-align: center;"> Technology Stack </h1>
        <div class="row">
            <div class="column">
                <h2>Frontend</h2>
                <ul style="list-style-type: none;">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascipt</li>
                </ul> 
            </div>

            <div class="column">
                <h2>Backend</h2>
                <ul style="list-style-type: none;">
                    <li>Firebase</li>
                    <li>Kaggle</li>
                    <li>OpenCV</li>
                    <li>Python
                        <ul style="list-style-type: none;"> 
                            <li>TensorFlow</li>
                            <li>Flask</li>
                            <li>Sk-learn</li>
                        </ul>
                    </li>
                </ul> 
            </div> 
        </div>
        <img src="technologystack.PNG" style="width: 200px; height: 268px;">
        <img src="TensorFlow.png">
        <img src="OpenCV.png">
        <img src="Keras.png">
        <img src="Firebase.png">
        <img src="Kaggle_logo.png">
    </body>
</html>